@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Noto+Sans+JP&display=swap');


/* home header */
header{
    height: 250px;
    background-image:url("../image/billfamily.jpeg");
    width: 100%;
    border: 0;
}

.top-header {
  padding:25px;
  width:100%;
}

.top-header h1 {
  float:left;
  padding-left: 25px;
  border: 0;
}

header ul {
  vertical-align: center;
  float: right;
  margin: 0;
  padding: 0;
}

header nav li {
  font-family: 'Noto Sans JP', sans-serif;
  display: inline;
  list-style: none;
}

header nav li a {
  display: inline;
  padding: 10px;
  text-decoration: none;
}

header nav li a:hover {
  background-color: black;
}

/* main content */
main {
    padding: 25px 150px 25px 150px;
}

h1, h2 {
  font-family: 'Homemade Apple', cursive;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 16pt;
  font-size: 12pt;
}

/* main content */

.maincontent {
  max-width: 850px;
  text-align: center;
}

.maincontent img {
    height: 600px;
    float: left;
    padding-right: 15px;
}

/* footer */

footer {
  border: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: bisque;
  text-align: center;
}
