@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Noto+Sans+JP&display=swap');

* {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

/* home header */
.home-header {
    height: 700px;
    background-image:url("../image/billfamily.jpeg");
    width: 100%;
    border: 0;
}

.top-header {
  padding:25px;
  width:100%;
}

.top-header h1, .main-header h1 {
    padding-left: 25px;
    border: 0;
    width: 30%;
    display: inline-block;
}

header nav, .main-header nav {
    display: inline-block;
    width: 60%;
}

header ul, .main-header ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

header nav li {
  font-family: 'Noto Sans JP', sans-serif;
  display: inline;
  list-style: none;
}

header nav li a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

header nav li a:hover {
  background-color: black;
  color: white;
}

header nav li a:visited {
  color: black;
}


/* main header */
.main-header {
  height: 100px;
  width: 100%;
  background-color: #e0d9cd;
  display: inline-block;
}


/* main content */
main {
  padding: 50px 0px;
}

h1, h2, h3 {
  font-family: 'Homemade Apple', cursive;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 16pt;
  font-size: 12pt;
}

.maincontent, .about {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
}

.maincontent img, .about img {
    height: 500px;
    float: left;
    padding-right: 15px;
}

.about img {
  border-radius: 50px;
}

.left-column,
.right-column {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.maincontent button {
  background-color: black;
  padding: 10px;
  border: 0;
  color: white;
  font-size: 14px;
}

.right-column h2 {
    font-size: 30px;
}

.right-column a {
  color: white;
  text-decoration: none;
}

/* footer */

footer {
  margin: 0 auto;
  width: 100%;
  background-color: #e0d9cd;
  padding: 10px;
}

.footer-right {
  display: block;
  padding-right: 10px;
  width: 20%;
  display: inline-block;
  text-align: right;
}

 footer h3, footer p {
   padding-bottom: 5px;
}

footer p {
  font-size: 12px;
}

footer a {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: small;
}

.socialmedia {
  text-align: left;
  vertical-align: center;
  display: inline-block;
  width: 69%;
  border-left: 2px solid black;
  padding-left: 10px;
}

.socialmedia img {
  width: 25px;
  padding: 10px;
}

/* portfolio */
section.gallery {
  margin: 0 auto;
  text-align: center;
  width: 1200px;
}
section.gallery img {
  width: 300px;
}
